* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
    color: #222;
}
.container {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
}
.header {
    padding: 20px 0;
}
.logo {
    font-size: 26px;
    font-weight: 700;
    color: #7d2fff;
    
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #444;
    font-weight: 500;
}

.nav a:hover {
    color: #7d2fff;
}
.hero {
    padding: 60px 0;
}

.hero-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left h1 {
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 25px;
    background: linear-gradient(45deg, #d400ff, #4e00ff);
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.hero-right img {
    width: 360px;
}



.about {
    padding: 60px 0;
    text-align: center;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.about h2 span {
    color: #a300ff;
}

.about-boxes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.box {
    width: 32%;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.box img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.box h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.section{
    background: linear-gradient(90deg, #ffb3d6, #bfa7ff);
    padding: 60px 0;
}

.reviews-inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.review {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 32%;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.review img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 15px;
}



.footer {
    padding: 50px 0;
    background: #fff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-block {
    width: 32%;
}

.footer-block h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-block a {
    color: #7d2fff;
    text-decoration: none;
}

@media (max-width: 900px) {
    .hero-inner {
        flex-direction: column;
        text-align: center;
    }

    .hero-right img {
        margin-top: 20px;
        width: 70%;
    }

    .about-boxes{
        flex-direction: column;
    }
    .reviews-inner{
        flex-direction: column;
    }
    .footer-content {
        flex-direction: column;
    }

    .box{
        width: 100%;
    }
    .review{
        width: 100%;
    }
    .footer-block {
        width: 100%;
    }
}